:root {
  --heading-font-family: "Roboto Condensed", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #a21232;
  --secondary-color: #f2f2f2;
}

body {
  margin: 60px auto;
  max-width: 100%;
  font-family: var(--default-font-family);
  background-color: #1b1b1b;
  color: var(--secondary-color);
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-color);
}

footer p {
  color: var(--secondary-color);
  font-size: 12px;
}

footer a {
  color: var(--primary-color);
}

ul {
  font-size: 20px;
}

.logo {
  max-height: 48px;
}

.nav-link {
  color: var(--secondary-color);
}

.nav-link active {
  color: var(--primary-color);
}

.hero {
  background: rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 60px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.box {
  margin: 60px 0;
  padding: 20px 260px;
}

.contact-box {
  background: rgb(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.contact-box p {
  margin: 0;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about-content h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 60px;
  color: var(--primary-color);
}

.journey {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
}

.journey-content h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.journey-content p {
  font-size: 15px;
}

.creations {
  background: rgb(255, 255, 255, 0.5);
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 69px;
  font-weight: bold;
  padding: 60px 20px;
  margin-bottom: 50px;
}
.project-description a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.project-description a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.project-description {
  padding: 10px 60px;
}

.project-description h2 {
  font-size: 50px;
  font-family: var(--heading-font-family);
}

@media (max-width: 900px) {
  body {
    margin: 20px auto;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .contact-btn {
    margin: 15px 100px;
  }

  .box {
    padding: 0 100px;
    justify-content: center;
  }

  .box h3,
  p {
    text-align: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
